// Grid Header

.gridHeader {
  composes: d-flex flex-row from 'styles/_base.scss';
  position: absolute;
  top: 5px;
  right: 45px;
  z-index: 1;
  // transform: translateZ(0);
}

.gridHeaderItem {
  composes: disable-selection from 'styles/_base.scss';
  color: #565656;
  font-size: 13px;
  font-weight: normal;
  padding: 0;
  text-align: left;
  vertical-align: middle;

  .wrapper {
    height: 48px;
    line-height: 48px;
  }

  .innerWrapper {
  }

  .item {
    display: flex;
    padding: 5px 5px 0 0;
    white-space: nowrap;
    justify-content: flex-end;
    align-items: center;
  }

  .info,
  .sortDirection {
    padding-left: 5px;
    padding-right: 5px;
  }

  .info {
    font-weight: bold;
  }

  .sortButton {
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0.54;
    margin-bottom: 3px;
  }

  .sortButton:hover,
  .sortButton:focus {
    box-shadow: none;
    opacity: 0.8;
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 0;
    background-clip: padding-box;
  }

  .sortDirection {
    opacity: 0.54;
    margin-bottom: 3px;
    padding: 6.5px 8px;
  }

  .sortDirection:hover,
  .sortDirection:focus {
    box-shadow: none;
    opacity: 0.8;
    opacity: 0.8;
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 0;
    background-clip: padding-box;
  }

  .sortMenu {
    width: 15rem;
  }

  .sortMenu > a {
    opacity: 0.8;
  }

  .sortMenu > a:not(.sortKey):before {
    content: '\00a0';
    display: inline-block;
    vertical-align: top;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    text-align: center;
    font-size: 18px;
  }

  .sortKey {
    font-weight: bold;
  }

  .sortKey:before {
    content: '\2713';
    display: inline-block;
    vertical-align: top;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    text-align: center;
    font-size: 18px;
  }
}

// Grid items

.gridItemsWrapper {
  composes: d-flex flex-row flex-wrap from 'styles/_base.scss';
  flex: 1;
  position: relative;
  top: auto;
  float: none;
  background-color: inherit;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  background-clip: padding-box;
  text-align: initial;
  padding: 10px 0 100px 25px;
  margin: 0;
  outline-offset: -1px;
  transition: box-shadow 0.2s;
  z-index: 0;
  margin-top: calc(5px + 48px);
}

.gridItemWrapper {
  // flex: 1 1 15%;
  transition: opacity 0.2s;
  composes: d-flex flex-column from 'styles/_base.scss';
  padding: 0;
  margin: 15px;
  // border: 1px solid #eee;
  background-color: $white;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  min-height: calc(205.391px + 30px);
  height: calc(205.391px + 30px);
  // max-width: 241.75px;
  max-width: 225px;

  &:last-of-type {
  }

  &:hover {
    background-color: $white;
  }

  &.isSelected,
  &:active,
  &:focus {
    background-color: $brand-primary;
    border: 0;
  }

  &.isSelected .gridItem,
  &:active .gridItem,
  &:focus .gridItem,
  &.isSelected .gridItem a,
  &:active .gridItem a,
  &:focus .gridItem a {
    color: $white;
  }

  &:focus .gridItem {
    .wrapper {
      box-sizing: border-box;
      border: 1px solid #fff;
    }
    outline: none;
    padding: 1px;
  }
}

.gridItem {
  composes: disable-selection from 'styles/_base.scss';
  color: #222;
  font-size: 13px;
  font-weight: normal;
  padding: 0;
  text-align: left;
  vertical-align: middle;
  height: 100%;
  width: 100%;

  .wrapper,
  .innerWrapper,
  .item {
    height: 100%;
    width: 100%;
  }

  .wrapper {
  }

  .innerWrapper {
  }

  .item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    padding: 0;
    white-space: nowrap;
    width: 100%;
  }

  .info,
  .icon {
    width: 100%;
  }

  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 10px;
  }

  .icon {
    color: #565656;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon .img {
    width: 100%;
    height: 100%;
  }

  .text {
    font-weight: bold;
  }

  .bottomLine {
    margin-top: auto;
    padding: 15px 10px;
  }

  .bottomLine .date {
    font-size: 12px;
    opacity: 0.54;
  }
}

.emptyGrid {
  // composes: d-flex flex-column center from 'styles/_base.scss';
  transform: translate(-10%,50%)!important;
  top: 61px;
  left: 240px;
  position: absolute;
  width: calc(100% - #{$sidebar-width});
  /* align-items: center; */
  // flex: 1;
  //
  // .icon {
    //   margin-left: 40px;
    //   opacity: 0.54;
  // }
  //
  // .icon:hover,
  // .icon:focus {
    //   box-shadow: none;
    //   opacity: 0.8;
  // }
  //
  // .desc {
    //   opacity: 0.7;
    //   font-weight: bolder;
    //   font-size: 18px;
  // }
}
