@import 'variables';

// List Header

.listHeader {
  composes: d-flex flex-row from 'styles/_base.scss';
  background-color: #fafafa;
  border-bottom: 1px solid #eee;
  padding-right: 16px;
  // transform: translateZ(0);
}

.listHeaderItem {
  composes: disable-selection from 'styles/_base.scss';
  color: #565656;
  font-size: 13px;
  font-weight: normal;
  padding: 0;
  text-align: left;
  vertical-align: middle;

  &.sortable:hover,
  &.sortable:focus {
    background-color: #eee;
    cursor: pointer;
  }

  .wrapper {
    height: 48px;
    line-height: 48px;
  }

  .innerWrapper {
    padding-left: 16px;
  }

  .item {
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    max-width: 100%;
    padding: 0 6px;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
  }

  .text {
  }

  .text.sorting {
    font-weight: bold;
  }

  .sortDirection {
    line-height: initial;
    margin: 0 4px;
    padding-top: 15px;
  }
}

.listHeaderItemName {
  composes: listHeaderItem sortable;
  flex: 3;
}

.listHeaderItemDate {
  composes: listHeaderItem sortable;
  flex: 1;
}

.listHeaderItemEmail {
  composes: listHeaderItem;
  flex: 1;
}

// List items

.listItemsWrapper {
  composes: d-flex flex-column from 'styles/_base.scss';
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1;
  padding-right: 16px;
  position: relative;
  top: auto;
  float: none;
  border-radius: 0;
  border: solid transparent;
  border-width: 0 1px 1px;
  background-clip: padding-box;
  text-align: initial;
  padding: 0;
  margin: 0;
  outline-offset: -1px;
  transition: box-shadow 0.2s;
  z-index: 0;
}

.listItemWrapper {
  composes: d-flex flex-row from 'styles/_base.scss';
  flex-wrap: nowrap;
  flex-shrink: 0;
  padding: 0;
  margin: 0;

  &:hover {
    background-color: transparent;
  }

  &.isSelected,
  &:active,
  &:focus {
    background-color: $brand-primary;
  }

  &.isSelected .listItem,
  &:active .listItem,
  &:focus .listItem,
  &.isSelected .listItem a,
  &:active .listItem a,
  &:focus .listItem a{
    color: $white;
  }

  &:focus .listItem {
    .wrapper {
      box-sizing: border-box;
      border-top: 1px solid $white;
      border-bottom: 1px solid $white;
    }

    &.listItemName {
      padding-left: 1px;
      padding-bottom: 0;
      padding-top: 1px;
    }

    &.listItemName .wrapper {
      border-left: 1px solid $white;
    }

    &.listItemEmail {
      padding-top: 1px;
      padding-bottom: 0;
    }

    &.listItemDate {
      padding-bottom: 0;
      padding-top: 1px;
      padding-right: 1px;
    }

    &.listItemDate .wrapper {
      border-right: 1px solid #fff;
    }
  }
}

.listItem {
  composes: disable-selection from 'styles/_base.scss';
  color: #222;
  font-size: 13px;
  font-weight: normal;
  padding: 0;
  text-align: left;
  vertical-align: middle;
  border-bottom: 1px solid rgba(0, 0, 0, 0.065);

  .wrapper {
    height: 48px;
    line-height: 48px;
  }

  .innerWrapper {
    padding-left: 16px;
  }

  .item {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    max-width: 100%;
    padding: 0 6px;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
  }

  .text,
  .icon {
    align-self: center;
  }

  .text {
    vertical-align: middle;
  }

  .icon {
    color: #565656;
    margin-right: 25px;
    display: flex;
    align-items: center;
  }

  .icon svg {
    height: 32px;
    width: 32px;
  }
}

.listItemName {
  composes: listItem;
  flex: 3;
}

.listItemDate {
  composes: listItem;
  flex: 1;
}

.listItemEmail {
  composes: listItem;
  flex: 1;
}

.emptyList {
  composes: d-flex flex-column center from 'styles/_base.scss';
  height: 100%;
  flex: 1;

  .icon {
    margin-left: 40px;
    opacity: 0.54;
  }

  .icon:hover,
  .icon:focus {
    box-shadow: none;
    opacity: 0.8;
  }

  .desc {
    opacity: 0.7;
    font-weight: bolder;
    font-size: 18px;
  }
}
