.roles {
  composes: nav nav-pills from 'styles/_base.scss';
}

.roleItem {
  composes: nav-item from 'styles/_base.scss';
  margin: auto 3px;

}

.roleButton {
  composes: nav-link from 'styles/_base.scss';
  padding-left: 3px;
  padding-right: 3px;
  color: rgba(0,0,0,.85);

  &:hover:not(.roleButtonActive),
  &:focus:not(.roleButtonActive) {
  }
}

.roleButtonActive {
  composes: active from 'styles/_base.scss';

}

.roleItemIntro {
  color: rgba(0,0,0,.5);
}

.roleIntro {
  composes: roleButton;

}
