@import 'variables';

$simple-line-font-path: #{$app-font-path}/simple-line-icons !default;
$simple-line-font-family: 'simple-line-icons' !default;

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: '#{$simple-line-font-family}';
    src:    url('#{$simple-line-font-path}/Simple-Line-Icons.eot?v=2.4.0');
    src:    url('#{$simple-line-font-path}/Simple-Line-Icons.eot?v=2.4.0#iefix') format('embedded-opentype'),
            url('#{$simple-line-font-path}/Simple-Line-Icons.woff2?v=2.4.0') format('woff2'),
            url('#{$simple-line-font-path}/Simple-Line-Icons.ttf?v=2.4.0') format('truetype'),
            url('#{$simple-line-font-path}/Simple-Line-Icons.woff?v=2.4.0') format('woff'),
            url('#{$simple-line-font-path}/Simple-Line-Icons.svg?v=2.4.0#simple-line-icons') format('svg');
}
