[Unit]
Description=Fikrat: Experts d'assurance (MAIL)
After=network.target

[Service]
WorkingDirectory=/var/app
; Environment=DEBUG=app:*
ExecStart=/usr/bin/yarnpkg run mail
; Restart=always

[Install]
WantedBy=multi-user.target
