[Unit]
Description=Fikrat: Experts d'assurance (%I)
After=network.target

[Service]
WorkingDirectory=/opt/fikrat
Environment=PORT=%I
ExecStart=/usr/bin/yarnpkg start
Restart=always

[Install]
WantedBy=multi-user.target
