/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(#{$app-font-path}/MaterialIcons.woff2) format('woff2');
}

.material-icons {
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons';
  /* No matching css selector */
  -webkit-font-feature-settings: 'liga'; // stylelint-disable-line property-no-vendor-prefix
  font-size: 24px;
  /* No matching css selector */
  -webkit-font-smoothing: antialiased; // stylelint-disable-line property-no-vendor-prefix
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;

  /* This is ok stylelint. */
  /* stylelint-disable selector-class-pattern */
  &.md-18 {
    font-size: 18px;
  }

  &.md-24 {
    font-size: 24px;
  }

  &.md-36 {
    font-size: 36px;
  }

  &.md-48 {
    font-size: 48px;
  }

  &.md-dark {
    color: rgba(0, 0, 0, 0.54);
  }

  &.md-light {
    color: rgba(255, 255, 255, 1);
  }

  &.md-dark.mi-inactive {
    color: rgba(0, 0, 0, 0.26);
  }

  &.md-light.mi-inactive {
    color: rgba(255, 255, 255, 0.3);
  }
  /* stylelint-enable selector-class-pattern */
}
