@import 'base';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:global {
  .container {
  }

  .alert.alert-dismissible {
    padding: 0.55em 1.25rem 0;
  }

  .center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  .hint-block {
    color: #999;
    font-size: 13px;
    font-weight: 300;
  }
}

