@import 'base';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
  background-color: #ffffff;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.root {
  composes: d-flex flex-column;
  height: 100%;
}

:global .pageload-overlay {
  display: none;
}

main {
  height: 100%;
}

main,
body {
}

mark {
  background-color: transparent;
}

::placeholder {
  user-select: none;
}

:global {
  // React dates
  @import 'react-dates/css/styles';

  .DateInput {
    padding-left: 0;
    width: auto;
  }

  .DateRangePickerInput {
    border: 0;
  }

  .DateRangePickerInput__clear-dates--hide {
    display: none;
  }

  .DateRangePickerInput__arrow {
    padding-left: 6px;
    padding-right: 6px;
  }

  .SingleDatePickerInput {
    border: 0;
  }

  .DateInput__input {
    cursor: pointer;
  }
}
