$app-font-path: 'styles/fonts';

// overrides here (do not use !default here)
$body-bg: #eee;
$navbar-bg: #fff;
$navbar-vertical-spacing: 5px;

// Enable shadows for form controls
$enable-shadows: true;

// Core variables (do not put anything below this)
@import '~bootstrap/scss/variables';

