@import "variables";

$navbar-height: 70px;

.center {
  composes: center from "styles/_base.scss";
}

.navbar {
  composes: fixed-top navbar flex-row justify-content-between from "styles/_base.scss";
  top: -70px;
  // z-index: 1;
  z-index: 1052;
  border-bottom: 0;
  margin-top: 0;
  padding-left: $navbar-horizontal-spacing;
  padding-right: $navbar-horizontal-spacing;
  transition: top 0.5s ease-in-out;
  box-shadow: 0 2px 4px 0 #e6e9ed;
  height: $navbar-height;
}

.leftNav {
  composes: leftNav from "styles/_base.scss";
  flex: 0;
}

.middleNav {
  composes: middleNav from "styles/_base.scss";
  flex: 1;
}

.rightNav {
  composes: rightNav from "styles/_base.scss";
  flex: 0;
}

.root {
  composes: d-flex flex-column from "styles/_base.scss";
  // height: 100%;
  min-height: 100vh;
  background-color: #fff;
}

.summary {
  // padding: 0 0 28px;
  padding: 0;
  font-size: 1.4rem;
  // height: 59px;
}

.backButton {
  composes: align-middle from "styles/_base.scss";
  margin: 0 auto;
  padding: 0;
  font-weight: 600;

  &:hover,
  &:focus {
    box-shadow: none;
  }

  opacity: 0.54;

  &:focus,
  &:hover {
    opacity: 0.8;
    color: $black;
  }
}

.backText {
}

// Search

.searchFieldWrapper {
  flex: 1;
  margin-left: 17px;
  margin-right: 17px;
}

.searchField {
  background: rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  position: relative;
  transition: background 100ms ease-in, width 100ms ease-out;
  composes: d-flex flex-row from "styles/_base.scss";
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24);

  composes: d-flex flex-row align-items-center from "styles/_base.scss";

  .searchLoading {
    padding: 0.5rem 1rem;
  }
}

.searchField.hasContent {
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.inputWrapper {
  cursor: default;
  transition: opacity 250ms ease-out;
}

.inputWrapper {
  flex: 1;
  composes: d-flex flex-row from "styles/_base.scss";
}

.input {
  border: none;
  font-size: 16px;
  font-weight: normal;
  outline: none;
  width: 100%;
  background: transparent;
}

.searchField button,
.searchField input {
  color: #212121;
}

.searchField button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    text-decoration: none;
    box-shadow: none;
  }

  opacity: 0.54;

  &:focus,
  &:hover {
    opacity: 0.8;
    color: $black;
  }
}

.clearSearch {
  padding-left: 0.6rem;
}

.clearSearch {
  &.advancedModeNotEmpty,
  &.advancedModeNotEmpty:active,
  &.advancedModeNotEmpty:hover {
    visibility: visible;
    color: $brand-danger !important;
    opacity: 1;
  }
}

.toggleAdvancedMode {
  visibility: hidden;
  padding-left: 0;

  .searchFieldWrapper .hasInput & {
    padding-right: 0;
  }

  .searchFieldWrapper:hover &,
  .searchFieldWrapper .active & {
    visibility: visible;
  }
}

.searchBoxMenu {
  width: 100%;
  top: 102%;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24);
  background-clip: initial;
  display: block;
  max-height: 800px;
  // max-height: 677.375px;
  // height: 677.375px;
  // overflow-y: auto;

  .noTopBorder {
    border-top: none;
  }

  &:empty {
    display: none;
  }

  z-index: 2399999;
}

// State filters

.stateFilter {
  padding: 15px 8px 14px 25px;
  color: #222;

  & * {
    user-select: none;
  }
}

.stateFilterAdvancedSearch,
.stateFilter_OPEN,
.stateFilter_CLOSED,
.stateFilter_CANCELED {
  composes: stateFilter;
}

.stateFilterAdvancedSearch {
  font-weight: 700;
  // background-color: #fafafa;

  &:hover {
    // background-color: #eee;
  }
}

.state {
  composes: d-flex align-items-center from "styles/_base.scss";
}

.OPEN:not(.selecting) {
  margin: 0;
  padding: 0;
  svg {
    color: $brand-info;
  }
}
.CLOSED:not(.selecting) {
  margin: 0;
  padding: 0;
  svg {
    color: $brand-success;
  }
}
.CANCELED:not(.selecting) {
  margin: 0;
  padding: 0;
  svg {
    color: $brand-danger;
  }
}

.text {
  display: inline-flex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  span,
  mark {
    margin: 0;
    padding: 0;
  }
}

.docSearchState {
  &:empty {
    display: none;
  }

  padding: 0.4rem 0;

  height: 32px;
  border-right: 1px solid #eaecef;
  margin-right: 12px;

  padding-right: 12px;
  font-size: 12px;
  color: #586069;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
}

.docSearchState_OPEN,
.docSearchState_CLOSED,
.docSearchState_CANCELED {
  composes: docSearchState;
}

.docSearchState_OPEN {
  color: $brand-info;
}

.docSearchState_CLOSED {
  color: $brand-success;
}
.docSearchState_CANCELED {
  color: $brand-danger;
}

// Search results

.docSearchDoc {
  composes: d-flex flex-row from "styles/_base.scss";
  flex: 1;
  padding: 15px 8px 14px 25px;
}

.docSearchDocInfo {
  composes: d-flex flex-column from "styles/_base.scss";
  flex: 1;

  .docSearchDocTop {
    font-weight: 700;
  }
}

.docSearchDocMiddle {
  composes: d-flex flex-row justify-content-start align-items-center from "styles/_base.scss";
  flex: 1;
}

// Highlight

.highlightGroup {
  & + .highlightGroup {
    margin-left: 6px;
  }
}

.highlightGroupLinkWrapper {
  white-space: nowrap;
  vertical-align: middle;
}

.highlightGroupLabel,
.docSearchDocBottom {
  font-size: 12px;
  color: #586069;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
}

// Hits
.hit {
  font-weight: bold;
  letter-spacing: 0;
  user-select: none;
  margin: 0;
  padding: 0;
}

// Advanced search
.advancedSearch {
  max-height: 90vh;
}

@import "routes/Search/styles/List";
@import "routes/Search/styles/Cases";
@import "routes/Search/styles/Actions";
@import "routes/Search/styles/AdvancedSearch";
