@import 'variables';

.join {
  composes: btn btn-primary btn-block from 'styles/_base.scss';
}

.logIn {
  composes: btn btn-success align-top from 'styles/_base.scss';
}

.navbar {
  composes: navbar from 'styles/_base.scss';
}
.navLoginWrapper {
  composes: navbarForm navbarRight from 'styles/_base.scss';
}
.navbarText {
  composes: navbarText from 'styles/_base.scss';
}

.centerContent {
  composes: centerContent from 'styles/_base.scss';
}

.control {
  composes: formControl from 'styles/_base.scss';
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  width: 100%;
}

.formGroup{
  composes: formGroup from 'styles/_base.scss';
}

.formGroupHasDanger {
  composes: formGroupHasDanger from 'styles/_base.scss';
}

.formControlFeedback {
  composes: formControlFeedback from 'styles/_base.scss';
}

.formControlDanger {
  composes: formControlDanger from 'styles/_base.scss';
}

.navbarNav {
  composes: container from 'styles/_base.scss';
  padding-top: $navbar-vertical-spacing;
  padding-bottom: $navbar-vertical-spacing;
}

.root {
  height: 100%;
  display: flex;
  flex-direction: column;

  footer {
    height: 50px
  }
  .form {
    border-radius: 4px;

    align-self: center;

    min-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;

    .heading {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 45px;
      font-weight: normal;
      line-height: 1.1;
      letter-spacing: -1px;
    }

    .tagLine {
      margin-bottom: 2em;
      font-weight: 300;
      color: #555;
    }

    button {
      margin-top: 30px;
    }


  }
}

.error {
  composes: has-danger hint-block from 'styles/_base.scss';
  text-align: center;
  margin-bottom: 12px;
}

