@import 'variables';

.join {
  composes: btn btn-primary btn-block from 'styles/_base.scss';
}

.logIn {
  composes: btn btn-success align-top from 'styles/_base.scss';
}

.navbar {
  composes: navbar from 'styles/_base.scss';
}

.navLoginWrapper {
  composes: navbarForm navbarRight from 'styles/_base.scss';
}

.navbarText {
  composes: navbarText from 'styles/_base.scss';
}

.center {
  composes: center from 'styles/_base.scss';
}

.control {
  composes: formControl from 'styles/_base.scss';
  font-size: 16px;
  height: auto;
  padding: 10px;
  position: relative;
  width: 100%;
}

.formGroup {
  composes: formGroup from 'styles/_base.scss';
}

.formGroupHasDanger {
  composes: formGroupHasDanger from 'styles/_base.scss';
}

.formControlFeedback {
  composes: formControlFeedback from 'styles/_base.scss';
}

.formControlDanger {
  composes: formControlDanger from 'styles/_base.scss';
}

.navbarNav {
  composes: container from 'styles/_base.scss';
  padding-bottom: $navbar-vertical-spacing;
  padding-top: $navbar-vertical-spacing;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;

  footer {
    height: 50px;
  }
}

.form {
  align-self: center;
  background-color: #fff;
  border-radius: 4px;
  margin: 0 auto;
  min-width: 380px;
  padding: 15px 35px 45px;

  .heading {
    font-size: 45px;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 1.1;
    margin-bottom: 0;
    margin-top: 0;
  }

  .tagLine {
    color: #555;
    font-weight: 300;
    margin-bottom: 2em;
  }

  button {
    margin-top: 30px;
  }
}

.error {
  composes: has-danger hint-block from 'styles/_base.scss';
  margin-bottom: 12px;
  text-align: center;
}
