@import 'variables';

.join {
  composes: btn btn-primary btn-block from 'styles/_base.scss';
  font-size: 1rem;
  font-weight: bold;
  padding: 11px 10px;
}

.logIn {
  composes: btn btn-link from 'styles/_base.scss';
  padding: 0;
  font-size: 1rem;

  &:focus,
  &:hover {
    box-shadow: none;
    outline: 0;
  }
}

.navLoginWrapper {
  margin-top: 25px;
}

.navbarText {
  composes: hint-block align-middle from 'styles/_base.scss';
}

.center {
  composes: center flex-column from 'styles/_base.scss';
}

.control {
  composes: formControl from 'styles/_base.scss';
  font-size: 16px;
  height: auto;
  padding: 10px;
  position: relative;
  width: 100%;
}

.formGroup {
  composes: formGroup from 'styles/_base.scss';
}

.formGroupHasDanger {
  composes: formGroupHasDanger from 'styles/_base.scss';
}

.formControlFeedback {
  composes: formControlFeedback from 'styles/_base.scss';
}

.formControlDanger {
  composes: formControlDanger from 'styles/_base.scss';
}

.navbarNav {
  composes: container from 'styles/_base.scss';
  padding-bottom: $navbar-vertical-spacing;
  padding-top: $navbar-vertical-spacing;
}

.root {
  composes: d-flex flex-column from 'styles/_base.scss';
  height: 100%;
  overflow: auto;

  .logo {
    align-self: center;
    margin-bottom: 25px;
  }

}

.form {
  align-self: center;
  background-color: #fff;
  border-radius: 4px;
  margin: 0 auto;
  padding: 15px 35px 25px;
  width: 445px;

  .heading {
    font-size: 45px;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 1.1;
    margin-bottom: 0;
    margin-top: 0;
  }

  input:not(:focus) {
    background-color: #fafafa;
  }

  .tagLine {
    color: #555;
    font-weight: 300;
    margin-bottom: 2em;
  }

  button {
  }
}

.error {
  composes: has-danger hint-block from 'styles/_base.scss';
  margin-bottom: 12px;
  text-align: center;
}

.tos {
  padding: 15px 0;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  margin: 15px 0;
}

.note {
  color: #767676;
  font-size: 12px;
  margin: 4px 0 2px;
  min-height: 17px;
}
