@import 'variables';

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(#{$app-font-path}/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(#{$app-font-path}/MaterialIcons-Regular.woff2) format('woff2'),
       url(#{$app-font-path}/MaterialIcons-Regular.woff) format('woff'),
       url(#{$app-font-path}/MaterialIcons-Regular.ttf) format('truetype');
}

