.centerContent {
  composes: centerContent from 'styles/_base.scss';
}

.control {
  composes: formControl from 'styles/_base.scss';
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  width: 100%;
}

.formGroup{
  composes: formGroup from 'styles/_base.scss';
}

.formGroupHasDanger {
  composes: formGroupHasDanger from 'styles/_base.scss';
}

.formControlFeedback {
  composes: formControlFeedback from 'styles/_base.scss';
}

.formControlDanger {
  composes: formControlDanger from 'styles/_base.scss';
}

.root {
  height: 100%;
  display: flex;
  flex-direction: column;

  footer {
    height: 50px
  }
  .form {
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    align-self: center;

    width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;

    .logo {
      align-self: center;
      margin-top: 15px;
    }

    .logo svg, .heading {
      text-align: center;
      margin-bottom: 24px;
    }

    button {
      margin-top: 30px;
    }

  }
}

.error {
  composes: hint-block from 'styles/_base.scss';
  text-align: center;
  margin-bottom: 12px;
}

