.center {
  composes: center flex-column from 'styles/_base.scss';
  min-height: 575px;
}

.changePasswordButton {
  composes: btn btn-primary btn-block buttonShadow from 'styles/_base.scss';
  font-size: 1rem;
  font-weight: bold;
  padding: 11px 10px;
}

.control {
  composes: formControl from 'styles/_base.scss';
  font-size: 16px;
  height: auto;
  padding: 10px;
  position: relative;
  width: 100%;
}

.control + button[data-password-input-button] {
  top: -4px;
}

.formGroup {
  composes: formGroup from 'styles/_base.scss';
}

.formGroupHasDanger {
  composes: formGroupHasDanger from 'styles/_base.scss';
}

.formControlFeedback {
  composes: formControlFeedback from 'styles/_base.scss';
}

.formControlDanger {
  composes: formControlDanger from 'styles/_base.scss';
}

.root {
  composes: d-flex flex-column from 'styles/_base.scss';
  height: 100%;
  overflow-y: auto;

  .logo {
    align-self: center;
    margin-bottom: 25px;
  }

  footer {
    align-items: flex-start;
    display: flex;
    height: 150px;
    justify-content: center;
  }

}

.form {
  align-self: center;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 380px;
  padding: 15px 35px;

  .heading {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.5px;
    margin-bottom: 24px;
    margin-bottom: 30px;
    margin-top: 9px;
    text-align: center;
  }

  button {
    margin-top: 15px;
  }
}

.error {
  composes: has-danger hint-block from 'styles/_base.scss';
  margin-bottom: 12px;
  text-align: center;
}

.footerLink {
  display: inline-block;
  margin: 0 10px;

  a {
    color: #9b9b9b;
    font-size: 12px;
  }
}
