// Actions

.actions {
  composes: d-flex ml-auto justify-content-end rightNavItem from 'styles/_base.scss';
  // composes: animated slideInLeft from 'styles/_animate.scss';
  min-height: $toolbar-height;
  // animation-duration: 0.1s;
  // animation-timing-function: linear;
  margin-right: 9px;
}

.docMenuAction {
  padding: 0;
  margin: 0;

  &:hover,
  &:focus {
    box-shadow: none;
  }

  opacity: 0.54;

  &:focus,
  &:hover {
    opacity: 0.8;
  }
}

.docMenu {
  border-radius: 0;
  top: 75%;
}

.printButton,
.archiveButton,
.deleteButton,
.refreshButton,
.moreActionsButton {
  composes: nav-item nav-link disable-selection from 'styles/_base.scss';
  padding: 0;
  transition: none;
  padding: 4px;

  span {
    font-weight: 600 !important;
  }

  &:focus,
  &:hover {
    text-decoration: none;
  }
  opacity: 0.5;

  &:focus,
  &:hover {
    opacity: 0.8;
  }
}

.docSetPaymentFormMenu {
  bottom: 0;
  top: auto;
  max-width: 300px;
  width: 300px;

  background: #fff;
  border-radius: 3px;
  border: 1px solid #D6DADC;
  border-bottom-color: #C4C9CC;
  box-shadow: 0 1px 6px rgba(0,0,0,.15);
}

.docSetPayment,
.docDelPayment,
.docSetPaymentButton,
.docDelPaymentButton {
  padding: 0;
  margin: 0;

  &:hover,
  &:focus {
    box-shadow: none;
  }
}

.docSetDTValidation,
.docDelDTValidation,
.docSetPayment,
.docDelPayment,
.print,
.archive,
.delete,
.refresh,
.more {
  composes: d-flex flex-row align-items-center rightNavItem from 'styles/_base.scss';
}

.docSetDTValidationFormMenu {
  bottom: 0;
  top: auto;
  max-width: 300px;
  width: 300px;

  background: #fff;
  border-radius: 3px;
  border: 1px solid #D6DADC;
  border-bottom-color: #C4C9CC;
  box-shadow: 0 1px 6px rgba(0,0,0,.15);
}

.docSetDTValidation,
.docDelDTValidation,
.docSetDTValidationButton,
.docDelDTValidationButton {
  padding: 0;
  margin: 0;

  &:hover,
  &:focus {
    box-shadow: none;
  }
}

.userMoreMenu {
  left: -375%;
  top: 118%;
}

.moreMenu {
  left: -555%;
  top: 115%;
  z-index: 2;
}

