.addDocFormInner {
  composes: d-flex flex-column from 'styles/_base.scss';
  position: relative;
  width: 850px;
  background: #ffffff;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1077;
  min-height: 900px;

  border-left: rgba(255, 255, 255, .1) 1px solid;
  border-right: rgba(255, 255, 255, .1) 1px solid;
}

.addDocFormMask {
  background: rgba(0,0,0,0.9);
  bottom: 0;
  filter: alpha(opacity=90);
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1076;

}

.addDocFormWrapper {
  z-index: 1075;
  transform-origin: 80% 5%;

  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.addDocForm {
  composes: d-flex flex-column from 'styles/_base.scss';
  height: 100%;
  width: 100%;
  padding-bottom: 50px;
}

.addDocFormTitleWrapper {

  .addDocFormTitle {
    padding: 2.25rem;
    position: relative;
  }

  h6 {
    font-size: .8125rem;
    line-height: 1.5rem;
    letter-spacing: .125rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #7d97ad;
  }

  h6:before {
    top: 1.75rem;
    content: "";
    left: -.125rem;
    width: .25rem;
    height: 2.25rem;
    position: absolute;
    background: #02b3e4;
  }

  h5 {
    margin: 0 auto;
  }

  h4 {
    font-size: 1.2rem;
    // line-height: 2.25rem;
    font-weight: 400;
  }
}

.addDocSection {
  display: flex;
  flex-direction: column;

  article {
    display: flex;
  }
}

.addDocSection + .addDocSection {
  margin-top: 3.2rem;
}

.addDocTextField + .addDocTextField {
  margin-left: 1.3rem;
}

.addDocFormActions {
  composes: fixed-bottom d-flex align-items-center justify-content-center from 'styles/_base.scss';
  z-index: 1077;
  padding: 1rem 2.2rem;
  border-top: 1px solid #eee;
  flex-basis: 25%;
  transition: top .7s ease-in-out;
  background: #ffffff;

  div:first-child {
    margin-right: 12px;
  }

  &.hideActions {
    top: 999px;

  }
}

.addDocFormActions_saveButton {
  font-weight: 700;
}

.addDocFormActions_cancelButton {
  composes: btn btn-link from 'styles/_base.scss';
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: none;
  }

}

.addDocFormClose {
  position: fixed;
  right: 12px;
  top: 12px;
  z-index: 1077;
}

.addDocFormCloseButton {
  composes: btn btn-link from 'styles/_base.scss';
  cursor: pointer;
  transition: opacity 1s cubic-bezier(.23, 1, .32, 1);
  opacity: .54;
  color: #fff;

  &:hover,
  &:focus {
    box-shadow: none;
    opacity: 1;
    color: #fff;
    transition: opacity 1s cubic-bezier(.23, 1, .32, 1);
  }

}

.addDocFormMatchingUsersContainer {
  margin-top: 36px;
  transition: height 1s cubic-bezier(.23, 1, .32, 1);
  width: 60%;

  .addDocFormMatchingUsersHeading {
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #637282;
    text-align: left;
  }

  ul.addDocFormMatchingUsersItems {
    border-left: .25rem solid #02b3e4;
    padding-left: 5px;
    margin-top: 17px;
  }

  li.addDocFormMatchingUsersItem {

  }

}
