.back {
  composes: d-flex flex-row align-items-center from 'styles/_base.scss';
  margin-right: 17px;
}

.card {
  margin-top: 0;
  margin-bottom: 1.5rem;
  text-align: left;
  position: relative;
  background: #fff;
  box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
  border-radius: 0.375rem;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
  }

  .docTitle {
    // height: 13.5rem;
    padding: 2.25rem;
    position: relative;
  }
}

.deleteOrRestoreDocAction {
  composes: d-flex flex-row align-items-center from 'styles/_base.scss';
  position: absolute;
  right: 30px;
  top: 35px;
}

.deleteOrRestoreDocButton {
  composes: nav-item nav-link disable-selection from 'styles/_base.scss';
  padding: 0;
  transition: none;

  &:focus,
  &:hover {
    text-decoration: none;
  }
  opacity: 0.5;

  &:focus,
  &:hover {
    opacity: 0.8;
  }
}

.docContent{
  // height: 16.5rem;
  padding: 2rem 2.25rem;
  // background-color: lighten(#fafbfc, 0.5%);
  background-color: #fafbfc;
  height: 26.7rem;

  &:after {
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    content: "";
    width: 100%;
    height: 3.5em;
    position: absolute;
    left: 0;
    bottom: -2px;
    // z-index: 1000;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 50%, #fff 100%);
  }
}

.h6 {
  font-size: 0.8125rem;
  line-height: 1.5rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #7d97ad;

  .deletedDoc & {
    text-decoration: line-through;
  }
}

.h6::before {
  top: 1.75rem;
  content: '';
  left: -0.125rem;
  width: 0.25rem;
  height: 2.25rem;
  position: absolute;
  background: #02b3e4;
}

.h4 {
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 400;

  .deletedDoc & {
    text-decoration: line-through;
  }
}

.backButton {
  composes: align-middle from 'styles/_base.scss';
  margin: 0 auto;
  padding: 0;
  margin-left: 0;
  padding-left: 0;
  font-weight: 600;
  color: $black;

  &:hover,
  &:focus {
    box-shadow: none;
  }

  opacity: 0.54;

  &:focus,
  &:hover {
    opacity: 0.8;
    color: $black;
  }
}

.backText {
}

// Overview

.overview {
  composes: d-flex flex-column justify-content-start from 'styles/_base.scss';
  flex: 1;
  padding: 0 25px 25px 45px;
  flex-shrink: 0;
  height: 660px;
  min-height: 660px;
}

.overviewContent {
  flex: 1;
  flex-shrink: 0;
  margin-top: 25px;
  composes: d-flex flex-column from 'styles/_base.scss';
  // background-color: lighten(#f4f4ef, 1%);
  border: 1px solid #eee;
}

.overviewLine {
  composes: d-flex flex-row align-items-center row from 'styles/_base.scss';
  flex-shrink: 0;
  min-width: 450px;
  height: 50px;
}

.overviewLabel {
  composes: col-4 from 'styles/_base.scss';
  font-weight: bolder;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.54);
  user-select: none;
  color: #2e3d49;
  -webkit-font-smoothing: antialiased;
  opacity: .86;
}

.overviewLabel,
.overviewValue {
  composes: d-flex align-items-center from 'styles/_base.scss';
  height: 100%;
}

.overviewValue {
  composes: col-8 from 'styles/_base.scss';
  color: #000;
}

.overviewValueState {
  composes: overviewValue;

  .state {
    font-weight: bolder;
  }

  span + span {
    margin-left: 3px;
  }
}

.overviewDate {

  &:first-letter {
    text-transform: uppercase;
  }
}

.overviewTitle {
  flex-shrink: 0;
}
