@import 'variables';

$content-width: 75%;
$navbar-height: 70px;
$toolbar-height: 41px;

.center {
  composes: center from 'styles/_base.scss';
}

.navbar {
  composes: fixed-top navbar flex-row from 'styles/_base.scss';
  top: -70px;
  padding-bottom: 12px;
  padding-top: 12px;
  z-index: 1052;
  border-bottom: 0;
  margin-top: 0;
  padding-left: $navbar-horizontal-spacing;
  padding-right: $navbar-horizontal-spacing;
  transition: top 0.5s ease-in-out;
  box-shadow: 0 2px 4px 0 #e6e9ed;
}

.leftNav {
  composes: leftNav from 'styles/_base.scss';
  flex: 0;
}

.middleNav {
  composes: middleNav from 'styles/_base.scss';
  flex: 1;
}

.rightNav {
  composes: rightNav from 'styles/_base.scss';
  flex: 0;
}

.root {
  composes: d-flex flex-column from 'styles/_base.scss';
  height: 100%;
  background-color: #fff;
}

.content {
  composes: d-flex flex-row from 'styles/_base.scss';
  height: 100%;
  // overflow-y: visible;
  max-width: $content-width;
  min-width: $content-width;

  margin: 70px 0 0 0;
}

.addButton {
  composes: btn btn-primary rightNavItem disable-selection buttonShadow center from 'styles/_base.scss';
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  padding: 6px 10px;

  div {
    display: flex;
    align-items: center;
  }

  svg {
    margin: 0;
    padding: 0;
    margin-right: 3px;
  }

  .iconBuy {

  }

  .textBuy {
    display: inline-flex;
  }

  &:focus,
  &:hover {
    color: $white;
    text-decoration: none;
  }
}

@import 'routes/Landing/styles/Dashboard';
@import 'routes/Landing/styles/Cases';
@import 'routes/Landing/styles/Case';
@import 'routes/Landing/styles/List';
// @import 'routes/Landing/styles/Nav';
// @import 'routes/Landing/styles/Loading';
@import 'routes/Landing/styles/Actions';
@import 'routes/Landing/styles/Timeline';
@import 'routes/Landing/styles/Search';
@import 'routes/Landing/styles/RecentDocs';
@import 'routes/Landing/styles/AddDoc';
