.timeline {
  position: absolute;
  width: calc(100% - #{$content-width});
  max-width: calc(100% - #{$content-width});
  right: 0;
  left: auto;
  // top: calc(#{$navbar-height} + #{$toolbar-height} + 25px);
  top: calc(#{$navbar-height} + 25px);
  z-index: 0;
  padding: 0 10px;
  padding-right: 15px;
  padding-bottom: 25px;

  h2 {
    font-size: 1rem;
    font-weight: 700;
  }

  .feed {
    margin-top: 25px;
  }

  .feedGroup {
  }

  .feedGroupTitle {
    text-transform: uppercase;
    color: rgba(0,0,0,.3);
    margin-bottom: 16px;
    font-size: 1rem;
  }

  .feedGroupItems {
    position: relative;
  }

  .feedGroupItems:after {
    content: ' ';
    background-color: #eee;
    position: absolute;
    display: block;
    width: 2px;
    top: 15px;
    left: 10px;
    bottom: 0;
    z-index: 1;
    opacity: 0.54;
  }

  .feedGroup:first-child,
  .feedItem:first-child {
    margin-top: 0;
  }

  .feedGroup,
  .feedItem {
    margin-top: 18px;
  }
}

.filesFeedGroupItems {
  composes: feedGroupItems;
  position: relative;

  &:after {
    content: none!important;
  }
}

.FILE_UPLOADED,
.FILE_DELETED,
.FILE_RESTORED,
.RECENT_DOCUMENT,
.DOCUMENT_DELETED,
.DOCUMENT_RESTORED,
.DOCUMENT_MANAGER_CHANGED,
.DOCUMENT_STATE_CHANGED,
.DOCUMENT_CREATED {
  // composes: feedItem;
  composes: d-flex flex-row from 'styles/_base.scss';

  .entry {
    display: inherit;
    flex-direction: column;
    flex: 1;
    margin-left: calc(34px - 24px);
  }

  .profilePic {
    z-index: 100;
  }

  .profilePic a:hover,
  .profilePic a:focus {
    text-decoration: none;
  }

  .entry > .title {
    max-width: 250px;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @media (max-width: 1200px) {
    .entry > .title {
      width: 200px;
    }
  }

  .entry > .desc {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 3px 0;
  }
  .entry > .desc .docStateToggle svg {
    margin: 0;
    padding: 0;
    vertical-align: middle;
  }

  .entry > .info {
    color: #707070;
    font-size: 12px;
    margin-top: 3px;
  }

  .entry > .info a {
    color: #707070;
  }

  .entry > .info time {
    color: #707070;
    font-size: 12px;
  }
}

.fileEntryDropdown {
  display: flex;
  flex: 1;

  .fileEntryMenu {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    width: 97%;
    top: 95%;
  }

  .fileEntryToggle {
  }

  .fileEntryMenuItem {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .fileEntryMenuItem * {
    user-select: none;
  }
}

.fileEntry {
  composes: d-flex flex-row align-items-center from 'styles/_base.scss';
  flex: 1;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 2px;
  padding: 0 3px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  width: 97%;

  &:hover,
  .fileEntryDropdown.fileEntryOpen & {
    background-color: hsl(214, 91%, 87%);
    border-color: hsl(214, 91%, 65%);
  }

  &:focus {
  }

  .fileEntryIcon {
    margin-right: 6px;
    padding: 0;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
  }

  .fileEntryDisplayName {
    flex: 0 1 auto;
    color: rgba(0,0,0,.72);
    font-size: 13px;
    font-weight: 500;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    max-width: 225px;
  }
}

.newFileEntry {
  composes: fileEntry;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;

  &.newFileEntryDrag {
    // box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);

    position: absolute;
    top: 0;
    height: 100%;
    width: 95%;
    justify-content: center;
    border-radius: 3px;
    z-index: 1;

    outline: 2px dashed black;
    outline-offset: -5px;

    // background-color: #c8dadf;
    background-color: #fff;
    font-size: 1.25rem;
  }

  &.newFileEntryDragEnter {
    // box-shadow: 12px 15px 20px 2pt rgba(46,61,73,.15);

    // background-color: #c8dadf;
    background-color: #fff;
    // outline-color: $brand-primary;

    height: 100%;
    outline-offset: 3px;
    outline-color: #c8dadf;
    background-color: #fff;
  }

  & * {
    color: $brand-danger!important;
  }

  .newFileEntry__icon {
    width: 100%;
    height: 80px;
    fill: #92b0b3;
    display: block;
  }

  .fileEntryDisplayName {
    font-weight: bolder;
  }

  .newFileEntry__uploading,
  .newFileEntry__success,
  .newFileEntry__error {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    height: 100%;

    left: -3px;
    width: 98%;

    outline: 2px dashed black;
    outline-offset: 0;

    // background-color: #c8dadf;
    background-color: #fff;
    font-size: 1.25rem;
  }

  .newFileEntry__success {
    animation: appear-from-inside .25s ease-in-out;
    font-weight: bolder;
  }

  .newFileEntry__uploading {
    font-style: italic;
  }

  @keyframes appear-from-inside {
    from  { transform: scale( 0 ); }
    75%   { transform: scale( 1.1 ); }
    to    { transform: scale( 1 ); }
  }
}

.newFileEntry__uploading * {
  color: rgb(15, 60, 75)!important;
}

.newFileEntry__error * {
  color: $brand-danger!important;

}

.newFileEntry__success {
  color: $brand-success!important;

}

.newFileEntry__error {
  composes: d-flex flex-row align-items-center from 'styles/_base.scss';

}

.fileEntryDropIntro {
  composes: d-flex flex-row justify-content-center from 'styles/_base.scss';

  & * {
    color: rgb(15, 60, 75)!important;
  }
}

.fileEntryInfoWrapper {
  composes: d-flex flex-row align-items-center from 'styles/_base.scss';
  padding: 5px 15px;

  .fileEntryInfoIcon {}
}

.fileEntryInfo {
  composes: d-flex flex-column from 'styles/_base.scss';
  margin-left: 12px;

  .fileEntryInfoDisplayName {
    font-weight: bolder;
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .fileEntryInfoDate,
  .fileEntryInfoUser {
    color: #707070;
    font-size: 12px;
    margin-top: 3px;
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .fileEntryInfoDate {}

}


// .loadingDots {
//   font-size: 30px;
//
//   &:after {
//     overflow: hidden;
//     display: inline-block;
//     vertical-align: bottom;
//     animation: ellipsis steps(4,end) 900ms infinite;
//     content: "\2026"; /* ascii code for the ellipsis character */
//     width: 0px;
//   }
//
//   @keyframes ellipsis {
//     to {
//       width: 1.25em;
//     }
//   }
// }

