
.timeline {
  position: absolute;
  width: calc(100% - #{$content-width});
  right: 0;
  left: auto;
  // top: calc(#{$navbar-height} + #{$toolbar-height} + 25px);
  top: calc(#{$navbar-height} + 25px);
  z-index: 0;
  padding: 0 10px;

  h2 {
    font-size: 1rem;
    font-weight: 700;
  }

  .feed {
    margin-top: 25px;
  }

  .feedGroup {
  }

  .feedGroupTitle {
    text-transform: uppercase;
    color: rgba(0,0,0,.3);
    margin-bottom: 16px;
    font-size: 1rem;
  }

  .feedGroupItems {
    position: relative;
  }

  .feedGroupItems:after {
    content: ' ';
    background-color: #eee;
    position: absolute;
    display: block;
    width: 2px;
    top: 15px;
    left: 10px;
    bottom: 0;
    z-index: 1;
    opacity: 0.54;
  }

  .feedGroup:first-child,
  .feedItem:first-child {
    margin-top: 0;
  }

  .feedGroup,
  .feedItem {
    margin-top: 18px;
  }
}

.RECENT_DOCUMENT,
.DOCUMENT_STATE_CHANGED,
.DOCUMENT_CREATED {
  // composes: feedItem;
  composes: d-flex flex-row from 'styles/_base.scss';

  .entry {
    display: inherit;
    flex-direction: column;
    flex: 1;
    margin-left: calc(34px - 24px);
  }

  .profilePic {
    z-index: 100;
  }

  .profilePic a:hover,
  .profilePic a:focus {
    text-decoration: none;
  }

  .entry > .title {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .entry > .desc {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .entry > .desc .docStateToggle svg {
    margin: 0;
    padding: 0;
    vertical-align: middle;
  }

  .entry > .info {
    color: #707070;
    font-size: 12px;
    margin-top: 3px;
  }

  .entry > .info a {
    color: #707070;
  }

  .entry > .info time {
    color: #707070;
    font-size: 12px;
  }
}

