.notificationInvalidLink {
  composes: notification notification-full alert alert-danger alert-dismissible fade in from 'styles/_base.scss';
}

.notificationPasswordResetSuccess {
  composes: notification alert alert-success fade in from 'styles/_base.scss';
}

.notificationVerificationPending {
  composes: notification alert alert-warning fade in from 'styles/_base.scss';
}

.notificationVerificationSuccess {
  composes: notification alert alert-success alert-dismissible fade in from 'styles/_base.scss';
}

.resendLink {
  composes: alert-link from 'styles/_base.scss';
  text-decoration: underline!important;
  font-weight: normal;
  cursor: pointer;
}

