.notificationInvalidLink {
  composes: notification notification-full alert alert-danger alert-dismissible fade show from 'styles/_base.scss';
}

.notificationPasswordResetSuccess {
  composes: notification alert alert-success fade show from 'styles/_base.scss';
}

.notificationVerificationPending {
  composes: notification alert alert-warning fade show from 'styles/_base.scss';
}

.notificationVerificationSuccess {
  composes: notification alert alert-success alert-dismissible fade show from 'styles/_base.scss';
}

.link {
  composes: alert-link from 'styles/_base.scss';
  cursor: pointer;
  font-weight: normal;
  text-decoration: underline !important;
}

.changeEmailLink,
.resendLink {
  composes: link;
}
