.notification {
  text-align: center;
  margin-bottom: 0;
  background-clip: padding-box;
  border-radius: 0;
}

.resendLink {
  text-decoration: underline!important;
  font-weight: normal;
  cursor: pointer;
}

