.control {
  composes: formControl from 'styles/_base.scss';
  font-size: 16px;
  height: auto;
  padding: 10px;
  position: relative;
  width: 100%;
}

.centerContent {
  composes: centerContent from 'styles/core.scss';
}

.passwordResetButton {
  composes: btn btn-primary btn-block from 'styles/_base.scss';
}

.formGroup {
  composes: formGroup from 'styles/_base.scss';
}

.formGroupHasDanger {
  composes: formGroupHasDanger from 'styles/_base.scss';
}

.formControlFeedback {
  composes: formControlFeedback from 'styles/_base.scss';
}

.formControlDanger {
  composes: formControlDanger from 'styles/_base.scss';
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;

  footer {
    height: 150px;
  }
}

.form {
  align-self: center;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 15px 35px 45px;
  width: 380px;

  .logo {
    align-self: center;
    margin-top: 15px;
  }

  .logo svg,
  .heading {
    margin-bottom: 24px;
    text-align: center;
  }

  .subheading {
    margin-bottom: 7px;
  }

  button {
    margin-top: 30px;
  }

  .error {
    margin-bottom: 12px;
    text-align: center;
  }
}

.notificationSuccess {
  composes: notification notification-full alert alert-success fade in from 'styles/_base.scss';
}
