@import 'variables';
$app-color-black: #373a3c !default;

.snackbar {
  animation-duration: 0.5s;
  background: rgba($app-color-black, 0.9);
  border-radius: 4px;
  box-shadow: 0 0 5px rgba($app-color-black, 0.1);
  color: #fff;
  font-size: 14px;
  line-height: 1.65em;
  max-width: 568px;
  min-height: 48px;
  padding: 15px 24px;
  position: fixed;

  .btn-snackbar {
    background: none;
    border: 0;
    font-weight: 600;
    height: 100%;
    line-height: 100%;
    position: absolute;
    right: 24px;
    top: 0;
  }

  &.primary {
    background: $brand-primary;
  }

  &.success {
    background: $brand-success;
  }

  &.info {
    background: $brand-info;
  }

  &.warning {
    background: $brand-warning;
  }

  &.danger {
    background: $brand-danger;
  }
}
