.navbar {
  background: $navbar-bg;
  background-clip: padding-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  composes: navbar navbar-full navbar-light;
  margin-bottom: -1px;
}

.navbarRight {
  composes: float-lg-right;
}

.navbarForm {
  composes: form-inline;
}

.navLink {
  composes: btn btn-link;
}

.navbarText {
  composes: hint-block;
  composes: navbar-text;
}
