@import 'variables';

.joinButton {
  composes: btn btn-link from 'styles/_base.scss';
  padding: 0;
  font-size: 1rem;

  &:focus,
  &:hover {
    box-shadow: none;
    outline: 0;
  }
}

.center {
  composes: center flex-column from 'styles/_base.scss';
}

.logIn {
  composes: btn btn-primary btn-block from 'styles/_base.scss';
  font-size: 1rem;
  font-weight: bold;
  padding: 11px 10px;
}

.navSignupWrapper {
  margin-top: 25px;
}

.navbarText {
  composes: hint-block align-middle from 'styles/_base.scss';
}

.control {
  composes: formControl from 'styles/_base.scss';
  font-size: 16px;
  height: auto;
  padding: 10px;
  position: relative;
  width: 100%;

  &:focus {
    z-index: 2;
  }
}

.root {
  composes: d-flex flex-column from 'styles/_base.scss';
  height: 100%;

  .logo {
    align-self: center;
    margin-bottom: 25px;
  }

  footer {
    height: 150px;
  }
}

.form {
  align-self: center;
  background-color: #fff;
  border-radius: 4px;
  margin: 0 auto;
  min-width: 380px;
  padding: 15px 35px;

  .heading {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.5px;
    margin-bottom: 30px;
    margin-top: 9px;
    text-align: center;
  }
}

.emailFieldControl {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  composes: control;
  margin-bottom: -1px;
}

.passwordFieldControl {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  composes: control;
  margin-bottom: 20px;
}

.passwordReset {
  margin-top: 30px;
  text-align: center;

  a,
  a:hover,
  a:focus {
    box-shadow: none;
    color: inherit;
    outline: 0;
    text-decoration: none;
  }
}

.passwordResetButton {
  composes: btn btn-link hint-block from 'styles/_base.scss';
}

.formControlFeedback {
  composes: formControlFeedback from 'styles/_base.scss';
}

.error {
  composes: has-danger hint-block from 'styles/_base.scss';
  margin-bottom: 12px;
  text-align: center;
}
