@import 'variables';

.center {
  composes: center from 'styles/_base.scss';
}

.navbar {
  composes: navbar flex-row justify-content-between from 'styles/_base.scss';
  padding-left: $navbar-horizontal-spacing;
  padding-right: $navbar-horizontal-spacing
}

.menu {
  composes: navbar-nav from 'styles/_base.scss';
  justify-content: center;
}

.avatar {
  padding: 0;

  &:hover,
  &:focus {
    box-shadow: none;
    outline: 0;
  }
}

.root {
  composes: d-flex flex-column from 'styles/_base.scss';
  height: 100%;
}
