@import 'variables';

.center {
  composes: center from 'styles/_base.scss';
}

.navbar {
  composes: navbar from 'styles/_base.scss';
}

.logoutNav {
  composes: nav navbar-nav navbarRight from 'styles/_base.scss';
}

.avatar {
  composes: btn-link from 'styles/_base.scss';
  padding: 0;
}

.navbarNav {
  composes: container-fluid from 'styles/_base.scss';
  padding-bottom: $navbar-vertical-spacing;
  padding-top: $navbar-vertical-spacing;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
