.centerContent {
  composes: centerContent from 'styles/_base.scss';
}

.navbar {
  composes: navbar from 'styles/_base.scss';
}

.logoutWrapper {
  composes: navbarForm navbarRight from 'styles/_base.scss';
}

.logout {
  composes: navLink from 'styles/_base.scss';
}

.root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

